{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}


{% block contents %}
    <h1>Problem Tracking Simplified</h1>
    <div class="home">
        <div class="home-content">
            <span><i class="bi bi-award-fill"></i></span>
            <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi aut suscipit a deserunt consequuntur assumenda quisquam necessitatibus voluptatibus fugiat dolorem ipsam corporis accusantium dolores aperiam </h4>
        </div>

        <div class="home-content">
            <span><i class="bi bi-calendar-week-fill"></i></span>
            <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi aut suscipit a deserunt consequuntur assumenda quisquam necessitatibus voluptatibus fugiat dolorem ipsam corporis accusantium dolores aperiam </h4>
        </div>

        <div class="home-content">
            <span><i class="bi bi-cloud-check-fill"></i></i></span>
            <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi aut suscipit a deserunt consequuntur assumenda quisquam necessitatibus voluptatibus fugiat dolorem ipsam corporis accusantium dolores aperiam </h4>
        </div>

        <div class="home-content">
            <span><i class="bi bi-columns"></i></span>
            <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi aut suscipit a deserunt consequuntur assumenda quisquam necessitatibus voluptatibus fugiat dolorem ipsam corporis accusantium dolores aperiam </h4>
        </div>

    </div>
{% endblock contents %}
